html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Varela Round', 'Courier New', Courier, monospace;
  color: #fff;
  background-color: #2b2b2b;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100vw;
  font-size: 120%;
  line-height: 3;
  background-color: black;
  z-index: 999;
}

.navbar-links {
  white-space: nowrap;
}

.navbar-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
  padding: 5%;
}

.navbar-links a {
  color: lightgray;
  text-transform: uppercase;
  text-decoration: none;
  transition: color .2s ease-in;
}

.navbar-links a:hover {
  color: white;
}

.top-section {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.name-section {
  background-image: url("/img/milad-fakurian-nY14Fs8pxT8-unsplash.jpg");
}

.contact-section {
  background-image: url("/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
}

.top-section-text {
  overflow: hidden;
  background: url("/img/pawel-czerwinski-ruJm3dBXCqw-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-transition:background-position 1s ease-in-out;
}

.top-section-text:hover {
  background-position: 5% 5%;
}

.name {
  position: relative;
  top: 40%;
  padding-right: 50%;
  line-height: 30%;
  font-size: 18vh;
  letter-spacing: 1vh;
  font-family: 'Permanent Marker';
  text-align: right;
}

.contact-text {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2%;
  font-size: 150%;
}

.contact-url {
  padding-left: 1%;
}

.text-section {
  text-align: center;
  min-height: 100vh;
  margin: 0 30% 0 30%;
  padding-top: 5%;
  font-family: 'Courier New', Courier, monospace;
}

.text-section h3 {
  font-size: 200%;
}

.text-section h4 {
  font-size: 150%;
}

.text-section-left {
  text-align: left;
}

.text-section-left p {
  padding-left: 5%;
}

.text-section-right {
  text-align: right;
}

.text-section-right p {
  padding-right: 5%;
}